html,
body {
  background-color: #1b2431;
  color: #202020;
  font-family: 'Montserrat', 'Helvetica', 'Open Sans', 'Arial';
}
.demo-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  margin-left: 10px;
}

.demo-navigation {
  flex-grow: 1;
  background: 0;
}
.mdl-navigation__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black !important;
  font-weight: 500;
  border-top: 1px solid #44c1be;
}
.mdl-navigation__link:hover {
  background: #dfdfdf !important;
  color: #5f6876 !important;
  cursor: pointer !important;
}
.link-liselected {
  background: #dfdfdf !important;
  color: #000 !important;
  cursor: pointer !important;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.mdl-layout__content {
  background-color: #1b2431;
}

.demo-cards {
  align-items: flex-start;
  align-content: flex-start;
}

/* swithch .-wrapper */

.switch-wrapper {
  transition: all ease-in;
}

.switch-wrapper > div {
  transition: all ease-in;
}

.demo-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.demo-cards ul {
  padding: 0;
}
.demo-cards h3 {
  font-size: 1em;
}
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('https://thumbs.dreamstime.com/t/wood-metallic-texture-background-rustic-banner-blue-tones-51204566.jpg');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.demo-cards .mdl-card__actions a {
  color: #00bcd4;
  text-decoration: none;
}

.demo-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
.demo-list-control {
  width: 100% !important;
}

.demo-list-radio {
  display: inline;
}

.mytabbar {
  display: flex;
}
.demo-card-wide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .demo-card-wide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 3px;
    border-radius: 5px;
  }
}
.demo-card-wide:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}

.mycontainer {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.useraddbutton {
  position: fixed !important;
  top: 80px !important;
  right: 40px !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.myinput {
  font-size: 20px !important;
  height: 30px;
  font-family: monospace;
}
/* .mdl-textfield__label {
  font-size: 17px !important;
  color: gray !important;
} */

.myform {
  display: flex;
  flex-direction: column;
}

.serachtextfield {
  padding-left: 10px;
  height: 40px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.mysubform {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* .mysubform div {
  margin-left: 25px;
  margin-right: 25px;
} */

.admin-login {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-login-box {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.material-icons {
  cursor: pointer;
}

.tableicon {
  margin: 10px;
}

.myloader {
  position: fixed !important;
  top: 40%;
  left: 40%;
  width: 70px !important;
  height: 70px !important;
}
td {
  text-align: left !important;
}
th {
  text-align: left !important;
}
.mdl-layout__tab {
  color: black !important;
  cursor: pointer !important;
  font-size: 20px !important;
  margin: 10 !important;
}

#customerfilter {
  display: none;
}

#mobile-version {
  display: none;
}

@media only screen and (max-width: 600px) {
  #customerselect {
    display: none;
  }
  #customerfilter {
    display: inherit;
  }
  .mytabbar {
    display: none;
  }
  #mobile-version {
    display: inherit;
  }
}

.card-list {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-list:before,
.card-list:after {
  content: ' ';
  display: table;
}
.card-list:after {
  clear: both;
}
.card {
  /* border: 1px solid #1b2431; */
  border-radius: 8px;
  color: white;
  float: left;
  padding: 10px;
  position: relative;
  width: 25%;
  margin: 2px;
}
.card .glyphicon {
  color: white;
  font-size: 28px;
  opacity: 0.3;
  position: absolute;
  right: 13px;
  top: 13px;
}
.card .stat {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 13px;
  margin-top: 25px;
  padding: 10px 10px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.card .title {
  display: inline-block;
  font-size: 15px;
  padding: 10px 10px 0;
  text-transform: uppercase;
}
.card .value {
  font-size: 28px;
  padding: 0 10px;
}
.card.blue {
  background-color: #2298f1;
}
.card.green {
  background-color: #66b92e;
}
.card.orange {
  background-color: #da932c;
}
.card.red {
  background-color: #d65b4a;
}

.projects {
  background-color: #273142;
  border: 4px solid #1b2431;
  width: 100%;
}
.projects-inner {
  border: 1px solid #313d4f;
  border-radius: 4px;
}
.projects-header {
  color: white;
  padding: 22px;
}
.projects-header .count,
.projects-header .title {
  display: inline-block;
}
.projects-header .count {
  color: #738297;
}
.projects-header .glyphicon {
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 5px 0;
}
.projects-header .title {
  font-size: 21px;
}
.projects-header .title + .count {
  margin-left: 5px;
}
.projects-table {
  width: 100%;
}
.projects-table td,
.projects-table th {
  color: white;
  padding: 10px 22px;
  vertical-align: middle;
}
.projects-table td p {
  font-size: 12px;
}
.projects-table td p:last-of-type {
  color: #738297;
  font-size: 11px;
}
.projects-table th {
  background-color: #313d4f;
}
.projects-table tr:not(:last-of-type) {
  border-bottom: 1px solid #313d4f;
}
.projects-table .member figure,
.projects-table .member .member-info {
  display: inline-block;
  vertical-align: top;
}
.projects-table .member figure + .member-info {
  margin-left: 7px;
}
.projects-table .member img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.projects-table .status > form {
  float: right;
}
.projects-table .status-text {
  display: inline-block;
  font-size: 12px;
  margin: 11px 0;
  padding-left: 20px;
  position: relative;
}
.projects-table .status-text:before {
  border: 3px solid;
  border-radius: 50%;
  content: '';
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}
.projects-table .status-text.status-blue:before {
  border-color: #1c93ed;
}
.projects-table .status-text.status-green:before {
  border-color: #66b92e;
}
.projects-table .status-text.status-orange:before {
  border-color: #da932c;
}
.projects-table .status-text.status-red:before {
  border-color: #d65b4a;
}
.selectric {
  background-color: transparent;
  border-color: #313d4f;
  border-radius: 4px;
}
.selectric .label {
  color: #738297;
  line-height: 34px;
  margin-right: 10px;
  text-align: left;
}
.selectric-wrapper {
  float: right;
  width: 150px;
}
.danger-item {
  border-left: 4px solid #a84d43;
}
.danger-text {
  color: #a84d43 !important;
}

p,
figure,
ul,
li {
  margin: 0;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}
